<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <p>heres my users page</p>
  </body>
</html>
